body{
margin: 0;
padding: 0;
background: url(../img/fondo.jpg) no-repeat center top;
background-size: cover;
font-family: sans-serif;
height: 99vh;
}

.login-box {
    width: 320px;
    height: 478px;
    background: #0277bd;
    color: #fff;
    top: 48%;
    left: 52%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.login-box .avatar {
  width: 119px;
  height: 105px;
  border-radius: 50%;
  position: absolute;
  top: -36px;
  left: 108px;
}

.login-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
    width: 242px;
}

.login-box input {
  margin-bottom: 20px;
}

.login-box input[type="text"], .login-box input[type="password"] {
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 43px;
  color: #fff;
  font-size: 16px;
    width: 278px;
    border-left-style: none;
    border-left-color: inherit;
    border-left-width: medium;
    border-right-style: none;
    border-right-color: inherit;
    border-right-width: medium;
    border-top-style: none;
    border-top-color: inherit;
    border-top-width: medium;
}

.login-box input[type="submit"] {
  border-style: none;
    border-color: inherit;
    border-width: medium;
    outline: none;
    background: #0beeaf;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    margin-top: 0px;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: #ffd800;
  color: #000;
}

.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.login-box a:hover {
  color: #fff;
}
